body {
    margin: 0em;
    padding: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.div.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 700px;
}

.div.container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form {
    width: 50%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="date"] {
    width: calc(130% - 6px); /* Adjust width to account for padding */
    padding: 6px;
    border: 3px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}


#responseMessage {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}